WinStoreClientProxy/Service References/BllProxy.EntityManagers.CategoryManagerService/CategoryManagerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CategoryManagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50135/EntityManagers/CategoryManagerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50135/EntityManagers/CategoryManagerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50135/EntityManagers/CategoryManagerService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:50135/EntityManagers/CategoryManagerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UtilsShared" />
      <xsd:import schemaLocation="http://localhost:50135/EntityManagers/CategoryManagerService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Web.Mvc" />
      <xsd:import schemaLocation="http://localhost:50135/EntityManagers/CategoryManagerService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/CommonPortable.Models.ProductModels" />
      <xsd:import schemaLocation="http://localhost:50135/EntityManagers/CategoryManagerService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/CommonModels.Models.EntityFramework" />
      <xsd:import schemaLocation="http://localhost:50135/EntityManagers/CategoryManagerService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/CommonPortable.Enums" />
      <xsd:import schemaLocation="http://localhost:50135/EntityManagers/CategoryManagerService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/CommonPortable.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICategoryManager_GetAllForMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllForMenu" />
  </wsdl:message>
  <wsdl:message name="ICategoryManager_GetAllForMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllForMenuResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryManager_GetAllSortedJson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSortedJson" />
  </wsdl:message>
  <wsdl:message name="ICategoryManager_GetAllSortedJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSortedJsonResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryManager_GetCategoriesWithProductsInCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesWithProductsInCategory" />
  </wsdl:message>
  <wsdl:message name="ICategoryManager_GetCategoriesWithProductsInCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesWithProductsInCategoryResponse" />
  </wsdl:message>
  <wsdl:portType name="ICategoryManager">
    <wsdl:operation name="GetAllForMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryManager/GetAllForMenu" message="tns:ICategoryManager_GetAllForMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryManager/GetAllForMenuResponse" message="tns:ICategoryManager_GetAllForMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSortedJson">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryManager/GetAllSortedJson" message="tns:ICategoryManager_GetAllSortedJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryManager/GetAllSortedJsonResponse" message="tns:ICategoryManager_GetAllSortedJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoriesWithProductsInCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryManager/GetCategoriesWithProductsInCategory" message="tns:ICategoryManager_GetCategoriesWithProductsInCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryManager/GetCategoriesWithProductsInCategoryResponse" message="tns:ICategoryManager_GetCategoriesWithProductsInCategory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="CategoryManagerService" />
</wsdl:definitions>