MetroWpf/Service References/BllProxy.EntityManagers.CategoryManagerService/CategoryManagerService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommonPortable.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommonPortable.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Paging">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualPageNumber" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfPages" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfProducts" type="xs:int" />
      <xs:element minOccurs="0" name="ProductsPerPage" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Paging" nillable="true" type="tns:Paging" />
</xs:schema>