MetroWpf/Service References/BllProxy.EntityManagers.CategoryManagerService/CategoryManagerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50135/EntityManagers/CategoryManagerService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:50135/EntityManagers/CategoryManagerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UtilsShared" />
  <xs:import schemaLocation="http://localhost:50135/EntityManagers/CategoryManagerService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/CommonPortable.Models.ProductModels" />
  <xs:element name="GetAllForMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="selected" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="openedIds" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllForMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllForMenuResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSortedJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="selectedCategoryId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSortedJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UtilsShared" minOccurs="0" name="GetAllSortedJsonResult" nillable="true" type="q2:ArrayOfSelectListItemWithClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesWithProductsInCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="productsPerPage" type="xs:int" />
        <xs:element minOccurs="0" name="baseCategoryFu" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesWithProductsInCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CommonPortable.Models.ProductModels" minOccurs="0" name="GetCategoriesWithProductsInCategoryResult" nillable="true" type="q3:InCategoryCWPLVM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>