MetroWpf/Service References/BllProxy.EntityManagers.CategoryManagerService/CategoryManagerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UtilsShared" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UtilsShared" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50135/EntityManagers/CategoryManagerService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Web.Mvc" />
  <xs:complexType name="ArrayOfSelectListItemWithClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SelectListItemWithClass" nillable="true" type="tns:SelectListItemWithClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSelectListItemWithClass" nillable="true" type="tns:ArrayOfSelectListItemWithClass" />
  <xs:complexType name="SelectListItemWithClass">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Web.Mvc" base="q1:SelectListItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="Class" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SelectListItemWithClass" nillable="true" type="tns:SelectListItemWithClass" />
</xs:schema>